<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            background-color: bisque;
        }
        .inp {
            width: 250px;
            height: 30px;
            padding: 5px 10px;
        }
        .formlabels {
            font-size: 25px;
        }
        form {
            display: flex;
            flex-direction: column;
            /* border: 1px solid black; */
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        .sub{
            font-size: large;
            width: 150px;
            height: 30px;
        }
        .rem{
            font-size:medium;
            width: 150px;
            height: 30px;
        }
    </style>
    <title>Document</title>
</head>

<body>