<%- include('./partials/header') %>


            <h1 style="text-align: center;">GYM RATS</h1>
            <a href="/members">List of Members</a>
            <br>
            <a href="/trainers">List of Trainers</a>


    <%- include('./partials/footer') %>