<%- include('./partials/header2')    %>    

        <form action="/member/new" method="post">
            <div>
            <label class="formlabels" for="name">Enter your name :</label>
            <br><br>
            <input type="text" name="name" id="name" class="inp">
        </div>
        <div>
            <label class="formlabels" for="age">Enter your age :</label>
            <br><br>
            <input type="number" name="age" id="age" class="inp">
        </div>
        <div>
            <label class="formlabels" for="address">Enter your address :</label>
            <br><br>
            <input type="text" name="address" id="address" class="inp">
            <br>
        </div>
            <button class="sub">Submit</button>
        </form>

<%- include('./partials/footer2')    %>    